*{
    margin: 0;
    margin: 0;
}
body {
    background-image: url(/imagenes/fondo\ de\ ilutraciones\ europa.jpg);

}

.menu li a {
    background-color: rgb(2, 2, 2);
    color: aliceblue;
    text-decoration: none;
    padding: 10px 15px;
    display: block
}

h3 {
    color: rgb(34, 146, 146);
}
header{
margin: auto;
width: 1410px;
font-family: Arial, Helvetica, sans-serif;
height: 150px;
background-color: black;
}

ul , ol {
    list-style: none;
}

.menu p a{
    text-decoration: none;
    color: rgb(231, 224, 224);
}
.menu li a {
    background-color: rgb(0, 0, 0);
    color: aliceblue;
    text-decoration: none;
    padding: 10px 15px;
    display: block;
}
.menu li a:hover{
    background-color: gold;
}
.menu > li{
    float: left;
}
.menu > a{
    color: #c92f2a;
}

.menu li ul{
    display: none;
    position: absolute;
    min-width: 140px;
}
.menu li:hover > ul {
    display: block;
}
.menu li ul li{
    position: relative;
}

.menu li ul li ul{
    right: -140px;
    top: 0px;
}
.texto {
    background-color: rgb(251, 255, 254);
    margin: 20px 20px  ;
    text-align: justify;
}
.texto h2{
    text-align: center;
}
.texto p{
    margin: 20px 20px 10px  10px ;
}
.map{
    border: 10px solid rgb(8, 8, 8);
}
.center{
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(253, 253, 253, 0);
    padding: 20px;
    height: 100vh;
}
.center map{
    width: 60vw;
    height: 100vh;
}

.lista{
    width: 450px;
    height: 500px;
    background-color: #c92f2a;
    padding: 2%;
    margin: 1px 10px 80px;
    column-count: 2;
    font-size: large;
    list-style: square;
    
}

.lista{
    display: inline-block;
    text-align: left;
}
.bloque{
    text-align:center;
    background-color:rgba(8, 7, 7, 0);
    }
.lista h3{
    color: rgba(255, 251, 251, 0);
    text-decoration: none;
}

.footer{
    background-color: rgba(13, 173, 72, 0.589);  
    color: rgb(15, 14, 14); 
    width: 100%; 
    height: 180px; 
    text-align: center; 
    clear: both;
    font-size: large;
    display: inline-block;
}

.footer div {
    color: rgb(7, 7, 12);
    padding-top: 30px;
}
.icono{
    width: 2px;
    height: 2px;
}
.face{
    width: 50px;
    height: 50px;
    right: 400px;
}
.ins{
    width: 50px;
    height: 50px;
    right: 320px;
}