*{
    margin: 0;
    margin: 0;
}
body {
    background-image: url(/imagenes/it\ fondo\ p.jpg);

}

.menu li a {
    background-color: rgb(2, 2, 2);
    color: aliceblue;
    text-decoration: none;
    padding: 10px 15px;
    display: block
}

h3 {
    color: rgb(34, 146, 146);
}
header{
margin: auto;
width: 1410px;
font-family: Arial, Helvetica, sans-serif;
height: 150px;
background-color: black;
}
header
ul , ol {
    list-style: none;
}
.menu p a{
    text-decoration: none;
    color: rgb(231, 224, 224);
}
.menu li a:hover{
    background-color: gold;
}
.menu > li{
    text-align: center;
    display: inline-block;
}

.menu li ul{
    display: none;
    position: absolute;
    min-width: 140px;
}
.menu li:hover > ul {
    display: block;
}
.menu li ul li{
    position: relative;
}

.texto {
    background-color: rgb(251, 255, 254);
    margin: 20px 20px  ;
    text-align: justify;
}
.texto h2{
    text-align: center;
}
.texto p{
    margin: 20px 20px 10px  10px ;
}
.titulo{
    background-color: gold;
    text-align: center;
    margin: 10px 20px 40px;
    color: rgb(8, 8, 8);
    font-size: 30px;
    
}
.contenedor-galeria{
    background-color: black;
    display: flex;
    width: 800%;
    justify-content: space-around;
    flex-wrap: wrap;
    max-width: 1000px;
    margin: auto auto 15px;
    border: 10px solid rgb(8, 8, 8);
}
.galeria__img{
    background-color: gold;
    width: 400px;
    height: 300px;
    margin-bottom: 30px;
    object-fit: fill;
}


.footer{
    background-color: rgba(21, 199, 30, 0.753);  
    color: rgb(15, 14, 14); 
    width: 100%; 
    height: 180px; 
    text-align: center; 
    clear: both;
    font-size: large;
    display: inline-block;
}

.footer div {
    color: rgb(7, 7, 12);
    padding-top: 30px;
}
.icono{
    width: 2px;
    height: 2px;
}
.face{
    width: 50px;
    height: 50px;
    right: 400px;
}
.ins{
    width: 50px;
    height: 50px;
    right: 320px;
}