body{
    background-image: url(/imagenes/thumb2-question-sign-art-creative-questions.jpg);
}
.cab{
    width: 1400px;
    height: 180px;
    background: #C6FFDD;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #f7797d, #FBD786, #C6FFDD);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #f7797d, #FBD786, #C6FFDD); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: rgb(12, 10, 10);
    text-align: right;
    line-height: 185px ;
    margin: 3px 10px 0 10px; /*separa los bordes*/
    float: none;
    font-size: 3px;
    font-family: 'Kdam Thmor Pro', sans-serif;
}



.inicio{
    padding: 62px 40px 65px 40px;
    background-color: rgba(255, 217, 0, 0);
    transition-property: color;
    transition-property: 3s;
    transition-delay: ease-in; /*lento-normal-normal*/
}

.inicio:hover{
    background-color: rgba(0, 0, 0, 0.233);
}
.ejer{
    padding: 62px 40px 65px 40px;
    background-color: rgba(255, 217, 0, 0);
    transition-property: color;
    transition-property: 3s;
    transition-delay: ease-in; /*lento-normal-normal*/
}
.ejer:hover{
    background-color: rgba(0, 0, 0, 0.233);
}
.prac{
    padding: 62px 40px 65px 40px;
    background-color: rgba(255, 217, 0, 0);
    transition-property: color;
    transition-property: 3s;
    transition-delay: ease-in; /*lento-normal-normal*/
}
.prac:hover{
    background-color: rgba(0, 0, 0, 0.233);

}
a{
    color: black;
    margin: 30px;
    align-items: center;
    text-decoration: none;
    font-size: 25px;
    line-height: 130px;
    margin: 0%;
    
}
.preg{
    width: 1410px;
    height: 600px;
    background-color: rgba(0, 0, 0, 0.541);
    text-align: center;
    margin: 15px;
    text-align: justify;
    text-align: center;
    color: aliceblue;
    line-height: 80px ;
    font-size: 20px;
    font-family: 'Kdam Thmor Pro', sans-serif;
}
.titulo{
    text-align: center;
    margin: 40px;
    font-family: 'Kdam Thmor Pro', sans-serif;
    display: inline-block;
    position: relative;
    height: 60px;
    width: 500px;
    margin: 50px 500px;
}

.titulo::after,.titulo::before{
    content:'';
    position: absolute;
    width: 150px;
    height: 3px;
    background-color:currentColor;
    top: 0.9em;
    transform: scale(0);
    transition: all 0.2s ease-in;
}

.titulo:hover::before,.titulo:hover::after{
transform: scale(1);
}

.titulo::before{
    left: -100px;
}

.titulo::after{
    right: -100px;
}
